<div id="fh5co-work">
  <div class="container">
    <div class="row top-line animate-box">
      <div class="col-md-7 col-md-push-5 text-left intro">
        <h2>Shift is a free html5 template to showcase your work. <span class="fh5co-highlight">Made with <i class="icon-heart2"></i> by <a href="http://freehtml5.co">FreeHTML5.co</a> </span></h2>
        <!-- <h2>Shift is a Collection of a Beautiful &amp; Premium Themes.</h2> -->
      </div>
      
    </div>
    <app-book-list></app-book-list>
  </div>
</div>

<div id="fh5co-author" class="fh5co-bg-section">
  <div class="container">
    <div class="row animate-box">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
        <h2>A little about me</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="author">
          <div class="author-inner animate-box" style="background-image: url(../assets/images/person3.jpg);">
          </div>
          <div class="desc animate-box">
            <span>Web Designer &amp; Developer</span>
            <h3>Mike Airways</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            <p><a href="about.html" class="btn btn-primary btn-outline">Learn More</a></p>
            <ul class="fh5co-social-icons">
              <li><a href="#"><i class="icon-facebook"></i></a></li>
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-dribbble"></i></a></li>
              <li><a href="#"><i class="icon-github"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="fh5co-started">
  <div class="container">
    <div class="row animate-box">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
        <h2>Get Started</h2>
        <p>We create beautiful themes for your site behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        <p><a href="#" class="btn btn-primary">Let's work together</a></p>
      </div>
    </div>
  </div>
</div>