<div class="row">
    <div class="col-sm-12">
  
      <div *ngFor="let book of books" class="col-sm-4">
        <div class="thumbnail">
          <img src="{{ book.volumeInfo.imageLinks.thumbnail }}" alt="{{ book.volumeInfo.title }}">
          <div class="caption">
            <h3>{{ book.volumeInfo.title }}</h3>
            <p>{{ book.volumeInfo.description | slice:0:200  }}</p>
            <p><a href="{{ book.volumeInfo.infoLink }}" class="btn btn-primary" role="button">Access book</a></p>
          </div>
        </div>
      </div>
  
    </div>
  </div>